src/datafactory/pipeline/pl_postgres_sales_db_fact_sales_delta.json
{
	"name": "pl_postgres_sales_db_fact_sales_delta",
	"properties": {
		"activities": [
			{
				"name": "load tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set date_from",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set date_to",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_postgres_sales_db_generic_delta",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"date_from": {
							"value": "@variables('date_from')",
							"type": "Expression"
						},
						"date_to": {
							"value": "@variables('date_to')",
							"type": "Expression"
						},
						"table": "fact_sales"
					}
				}
			},
			{
				"name": "set date_from",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date_from",
					"value": {
						"value": "@concat(substring(pipeline().parameters.date_from, 6, 2), '/', substring(pipeline().parameters.date_from, 4, 2), '/', substring(pipeline().parameters.date_from, 0, 4))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set date_to",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date_to",
					"value": {
						"value": "@concat(substring(pipeline().parameters.date_to, 6, 2), '/', substring(pipeline().parameters.date_to, 4, 2), '/', substring(pipeline().parameters.date_to, 0, 4))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"date_from": {
				"type": "string"
			},
			"date_to": {
				"type": "string"
			}
		},
		"variables": {
			"date_from": {
				"type": "String",
				"defaultValue": "20241010"
			},
			"date_to": {
				"type": "String",
				"defaultValue": "20241020"
			}
		},
		"folder": {
			"name": "postgres_salesdb/fact_sales"
		},
		"annotations": []
	}
}